.container {
  padding: 1rem 7rem 1rem 7rem;
  background-color: #e5e5e5;
}

h5 {
  padding: 1rem 0 1rem 0;
}

.row1 {
  margin: 0%;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 25px;
  background-color: white;
}

.row2 {
  display: overflow;
  margin: 0%;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.imageBox {
  padding: 8%;
  display: flex;
  justify-content: center;
  border: 2px solid #dedede;
  border-radius: 10px;
}

.movieCover {
  width: 100%;
  border-radius: 15px;
}

.filePicker {
  padding-top: 1rem;
}

.footer {
  padding: 1rem;
}

.customForm {
  margin-bottom: 1rem;
}

.synopsisField {
  height: 8rem;
}

.buttons {
  text-align: end;
  margin-left: 1rem;
}

.resetButton {
  width: 13%;
  color: #5f2eea;
  border: 2px solid #5f2eea;
  border-radius: 4px;
  margin-right: 1rem;
}

.submitButton {
  width: 13%;
  border: 2px solid #5f2eea;
  border-radius: 4px;
}

.alert {
  margin-top: 1rem;
}

.pagination {
  margin-bottom: 35px;
  display: flex;
  list-style: none;
  outline: none;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.75px;
  color: #6e7191;
}

.pagination > .active > a {
  background-color: #5f2eea;
  border-color: #5f2eea;
  color: #fff;
}
.pagination > li > a {
  border-radius: 6px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px 10px;
  border: 1px solid #5f2eea;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5f2eea;
  border-color: #5f2eea;
  border-radius: 15px;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #5f2eea;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 6px;
}

.divPagination {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.titleRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  text-align: end;
  padding: 1rem; 
}

.dropdownButton {
  width: 20%;
  text-align: start;
  background-color: #ffffff;
  font-size: normal;
  color: #333333;
  border: 2px solid #dedede;
}
