@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

.container {
  background-color: #f2efe5;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.carousel {

}

.carouselItem {
  width: 100%;
  border-radius: 16px;
}

.col2 {
  padding: 3rem;
}

.row1 {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.button {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  color: #fff;
  background-color: #5c616e;
  border: none;
}

.row2 {
  border-radius: 50px;
  background-color: #fff;
  color: #5c616e;
  padding: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  box-shadow: 0px 8px 32px rgba(186, 186, 186, 0.24);  box-shadow: 0px 8px 32px rgba(186, 186, 186, 0.24);
}

.schoolImg {
  width: 10rem;
  -webkit-filter: grayscale(100%);
  margin-bottom: 1rem;
}

.devInfo {
  margin-top: 2rem;
  text-align: start;
}

.footer {
  overflow-x: hidden;
  background-color: #5c616e;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.mailto {
  text-decoration: none;
  color: #fff;
}