.navbarContainer {
  padding-left: 3%;
  padding-right: 3%;
}

.link {
  font-family: 'Inter', sans-serif;
  color: #5c616e;
  margin: 1rem;
  text-decoration: none;
}

.outButton {
  background-color: #5c616e;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
}

.outButton:hover {
  background-color: tomato;
}

.inButton {
  background-color: #5c616e;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
}

.inButton:hover {
  background-color: #5375e2;
}

.logoutText {
  display: none;
  color: #5c616e;
  font-family: 'Inter', sans-serif;
  font-size: large;
  margin: 1rem;
}

.loginText {
  color: #5c616e;
  font-family: 'Inter', sans-serif;
  font-size: large;
  margin: 1rem;
}