@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap');

* {
  font-family: 'Mulish', sans-serif;
}

.container {
  padding-left: 7rem;
  padding-right: 7rem;
  height: 100vh;
}

.title {
  padding-bottom: 2rem;
  font-size: larger;
  font-weight: 500;
}

.row1 {
  padding-top: 2rem;
  background-color: #ffffff;
  border-radius: 16px;
}

.imageBox {
  padding: 1rem;
  border: 2px solid #dedede;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 32px rgba(186, 186, 186, 0.24);
}

.movieImage{
  width: 12rem;
  border-radius: 15px;
}

.movieTitle {
  font-size: x-large;
  font-weight: 500;
}

.movieCategory {
  font-size: larger;
  opacity: 70%;
  padding-bottom: 2rem;
}

.head {
  font-size: normal;
  opacity: 60%;
}

.content {
  padding-bottom: 1rem;
}