.container {
  border-radius: 24px;
  background-color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
}

.circles {
  margin-left: 3rem;
}

.row2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.profileImg {
  width: 150px;
  height: 136px;
  filter: drop-shadow(0px 8px 16px rgba(73, 83, 99, 0.24));
}

.card {
  margin-top: 1rem;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 1rem;
  color: #fff;
  border-radius: 24px;
  background-color: #5f2eea;
  text-align: start;
}

.progress {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  color: #5f2eea;
}

.row5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}